@{
    ViewBag.Title = "About Me";
}

<img class="float-right" src="content\headshot.jpg" width="166" height="166" alt="Joe Strommen" />

<div class="p">
    My name is Joe Strommen, and I'm a software developer living in Bloomington, Minnesota.
</div>

<div class="p">
    I specialize in making websites run faster.
    I do <a href="/consulting">consulting</a> in this area.
</div>

<div class="p">
    I also run a SaaS app called <a href="https://www.fasterweb.io" target="_blank">FasterWeb</a> that will automatically make many sites run faster.
</div>

<div class="p">
    Performance optimization has kept me up at night since I started in the industry nearly 12 years ago.
</div>

<div class="p">
    I always enjoy meeting people that are into software.
    If you're in the Twin Cities area (or will be soon), get in touch with me via <a class="email" href="#">email</a> or tweet <a class="twitter" href="#"></a>.
</div>