@{
    ViewBag.Title = "Consulting";
}

<div class="p">
    I offer consulting services to make websites run faster.
</div>
<div class="p">
    Faster websites retain more traffic, convert more customers, and make users happier.
</div>
<div class="p">
    My expertise ranges across a wide set of skills:
    <ul>
        <li>
            Automating front-end web optimizations
            <span class="paren">(every web app should be doing this!)</span>
        </li>
        <li>
            Hand-coding SSE intrinsics for numeric calculations
            <span class="paren">(my personal favorite)</span>
        </li>
        <li>
            Optimizing SQL queries
            <span class="paren">(...somebody's gotta do it, I guess...)</span>
        </li>
        <li>And lots, lots more.</li>
    </ul>
</div>

<div class="p">
    If it sounds like I might be able to help you out, I'd love to chat.
</div>

<div class="p">
    Email me at <a class="email" data-email-subject="Consulting" href="#"></a>.
</div>
@*
    <h2>Do you lead a team of engineers?</h2>

    <p>
        I can work with your development and operations teams to make your website dramatically faster.
        Everybody's situation is different, but
    </p>

    <h2>
        Running a website yourself?
    </h2>
    <p>
        If you're running a website based on a popular framework like Wordpress or Magento?  I can

    </p>

    <h3>My Process</h3>
    <div>
        <h4>Identify Problem Scenarios</h4>
        <div>
            When somebody
        </div>
        <h4>
            Analyze Performance for these Scenarios
        </h4>
        <div>
            Before we try to make things faster, we need to know why exactly things are slow.
            Causes of performance problems vary wildly, and solutions that work well for some may not work at all for others.
            There really is no magic bullet that will automatically make any site fast.
        </div>
        <h4>
            Apply Industry-Standard Solutions
        </h4>
        <div>
            Next, I will work with your team to implement solutions that are permanent and effective.

        </div>
    </div>
*@