@{
    ViewBag.Title = "Joe Strommen";
}
<div class="p">
    <a href="https://www.fasterweb.io">FasterWeb</a> is a SaaS application that automates front-end optimization for any website.  As a solo founder, I am responsible for everything from development to marketing & sales.
</div>

<div class="p">
    The FasterWeb product is a reverse-proxy server that optimizes HTML pages on the fly to make them load faster in the browser.  Additionally, it crawls customer sites to pre-cache a static snapshot of each page.  Over time, it determines which sections of the page are dynamic and populates these on the client via AJAX.
</div>

<div class="p">
    To make all of this work effectively, I have learned a great deal about the details of HTTP and how it affects web performance.
</div>
