@{
    ViewBag.Title = "Joe Strommen";
}
<div class="p">
    Hi there - I'm Joe Strommen, and you've come to my personal website.
</div>

<div class="p">
    I'm working on getting some writing uploaded, but in the meantime you can read more <a href="/about">about me</a> and <a href="/consulting">what I do.</a>
</div>