@{
    ViewBag.Title = "Joe Strommen";
}
<div class="p">
    TwoStage is an open-source project that makes dynamic web pages publicly cacheable. This allows them to load extremely fast by serving them from a CDN or a caching reverse proxy.
</div>

<div class="p">
    TwoStage is compatible with any server back-end that generates HTML, and usually requires only a few minor code changes.
</div>

<div class="p">
    Check out <a href="http://www.twostage.io">twostage.io</a> for more information, or view the <a href="https://github.com/strommen/twoStage">code on GitHub</a>.
</div>


